# Environment folder
# Ignore Python cache files
**/__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore Django migrations cache (optional, only if not needed in version control)
*/migrations/__pycache__/


env/
.env

# Backend image uploads
Backend/images/

# Frontend test/demo files
hello.js
hi.js
index.html
register.html