# Python
__pycache__/
*.py[cod]
*.so

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Environments
.env
venv/
env/

# VSCode
.vscode/

# MacOS
.DS_Store

# Ignore compiled migration files
**/migrations/__pycache__/
