# Ignore compiled Python files
**/__pycache__/
*.pyc


# Ignore environment-related files
.env
venv/

# Ignore static files generated during collectstatic
staticfiles/

# Ignore db files (if using SQLite for dev)
db.sqlite3

# Ignore media files
media/
